<%# It works. Will add navigation later. %>
<%#
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/checkout">Checkout</a></li>
    </ul>
</nav>
%>