.items{
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.item{
    width: 33%;
    border: 2px solid black;
}

.stock {
    font-size: 12px;
    color: gray;
}

.quantity-selector {
    width: 20%;
}