body{
    padding-left: 50px;
}

.items {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.item{
    display: flex;
    border: 2px solid black;
    justify-content: space-evenly; 
    width: 100%;
    margin: 5px;
}