nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #401c93;
    color: white;
}

nav a{
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

nav a:hover{
    color: #dddddd;
}

.right{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a.cart-link {
    display: flex;
    align-items: center;
}

a.cart-link svg {
    margin-right: 5px; /* Adjust the spacing as needed */
}

a.cart-link svg {
    width: 30px;
    height: 30px;
}